<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.yk.dao.UserTransMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sz.p2p.entity.UserTrans">
        <id column="TRANS_ID" property="transId" />
        <result column="BUSINESS" property="business" />
        <result column="TRANS_MON" property="transMon" />
        <result column="TRANS_DATE" property="transDate" />
        <result column="FEE" property="fee" />
        <result column="TRANS_OBJ" property="transObj" />
        <result column="TRANS_ACCOUNT" property="transAccount" />
        <result column="STATUS" property="status" />
        <association property="user" column="USER_ID" select="com.p2p.yk.dao.UserMapper.selectUserById"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TRANS_ID, USER_ID, BUSINESS, TRANS_MON, TRANS_DATE, FEE, TRANS_OBJ, TRANS_ACCOUNT, STATUS
    </sql>
    
    <select id="selectPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List"/> from
    	(select rownum rn,<include refid="Base_Column_List"/> from tb_user_trans)
    	where rn&gt;#{cp} and rn&lt;=#{ps}
    </select>

</mapper>
