<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.yk.dao.UserTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sz.p2p.entity.UserType">
        <id column="USER_TYPE_NO" property="userTypeNo" />
        <result column="USER_TYPE_ID" property="userTypeId" />
        <result column="USER_TYPE_NAME" property="userTypeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_TYPE_NO, USER_TYPE_ID, USER_TYPE_NAME
    </sql>

	<select id="selectOneUserType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from tb_user_type where USER_TYPE_ID = #{userTypeId}
	</select>

</mapper>
